@import '../../assets/styles/vars.styl';

.search-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    text-transform: capitalize;
    margin: 0px 16px;
}

.search-input:focus {
    color: $white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $accent-color;
    box-shadow: none;
}