@import './assets/styles/vars.scss';

body {
  margin: 0;
  font-family: $theme-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  color: $white !important;
}

.clickable {
  cursor: pointer;
}

.modal-content {
  background-color: $dark-color;
  color: $white;
  border-radius: 16px;
  border: 1px solid $white;
}

.modal-footer {
  border: none;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.btn-primary, .btn-primary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-secondary, .btn-secondary:hover {
  background-color: transparent;
  border-color: transparent;
}